body {
 
}
.cntr-innr{
margin-left: 25%;
color: white;
position: 

}

.lol {
width: 60%;
}

.facebook {
float: left;
width: 12%;
}

.instagram {
float: left;
width: 5%;
padding-top: 5px;
}
.twitter {
float: left;
width: 3.5%;
padding-top: 5px;
}

.search{
margin-right: 10px;
  margin-left: auto;
  margin-right: auto; 
  background-opacity: 0.4; 
  background: FIREBRICK;
    float: left;
}


.buttons {
margin-left: 25%;
position: fixed;

}



.search {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35px;
    margin-left: 30px;
  box-sizing: border-box;
  padding: 7px 9px 0px 9px;
  border: 3px solid red;;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;

}
.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  background: red;
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 200ms ease;
}
.search.active,
.search:hover {
  width: 265px;
  margin-right: 0px;
}
.search.active:after,
.search:hover:after {
  height: 0px;
}
.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
    color: white;
}